.container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  @media (max-width: 1240px) {
   .container {
    padding: 0 15px;
   }
  }