.feedback {
  width: 100%;
  height: 100%;
  background-image: url('../public/main-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__slider {
    width: 100%;
    position: relative;
  }
}
